<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>38445886992-8pbmdt7rp18sdov2hii0uf58p9g074fh.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.38445886992-8pbmdt7rp18sdov2hii0uf58p9g074fh</string>
	<key>API_KEY</key>
	<string>AIzaSyC-G16QnsxZ9vukSxLdHFnWB9gv5HNOU_M</string>
	<key>GCM_SENDER_ID</key>
	<string>38445886992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.movieQuotes</string>
	<key>PROJECT_ID</key>
	<string>yiny1-movie-quotes</string>
	<key>STORAGE_BUCKET</key>
	<string>yiny1-movie-quotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:38445886992:ios:3c7973f3435e9baa612495</string>
</dict>
</plist>